<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <body>
    <h1>Boggle</h1>
    <table>
    <thead>
        <tr>
            <th colspan="4">Board</th>
        </tr>
    </thead>
    <tbody>
      {% for row in board: %}
        <tr>
          {% for col in row: %}
            <td>{{ col }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
    <h2>Your words</h2>
    <p>{{', '.join(user_words)}}</p>
    <h3>Your score</h3>
    <p>{{ user_score }}</p>
    <h2>Computer words</h2>
    <p>{{', '.join(comp_words)}}</p>
    <h3>Computer score</h3>
    <p>{{ comp_score }}</p>
    <p><a href="/">Homepage</a></p>
  </body>
</html>
